<ion-header hidden>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
<ion-content>

  <div class="header">
    <div class="statut-bar" style="height: 44px">

    </div>
    <div class="header-content">
      <img (click)="goBack()" src="../../assets/imgs/back.svg" style="height: 20px; width: auto; position: relative; z-index: 2"/>
      <div style="position: relative; top: 0;font-size: 17px;color: #fff;flex: 1;text-align: center;margin-left: -30px;">
        Choisir service
      </div>
    </div>
  </div>

  <br/>
  <div class="_content">
    <div class="services">
      <ion-list no-margin>
        <ion-item (click)="showDialog(x)" *ngFor="let x of services">
          <div class="service">
            <div class="thumb">
              <img src="{{this.url}}uploads/{{x.photo}}">
            </div>
            <div style="margin: 4px 4px 4px 16px;">
              <strong>{{x.nom}}</strong>
              <p>{{x.restant}} personne en attente</p>
            </div>
          </div>
        </ion-item>
      </ion-list>
      <div *ngIf="load" style="text-align: center">
        <img src="../../assets/imgs/spinner.svg" style="width: 100px;"/>
      </div>
      <div *ngIf="erreur" style="text-align: center">
        <img src="../../assets/imgs/warning.svg" style="width: 100px;"/>
        <p>Pas d'acces internet</p>
      </div>
    </div>
  </div>
</ion-content>
